# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folder
venv/
.venv/

# Ignore sensitive environment variables file
.env

# Ignore temporary files
*.log
temp_data/
