# Core bot framework
pyrogram
tgcrypto

# Database driver
pymongo

# For reading .env file in local development
python-dotenv

# For health checks and web server
flask

# For making HTTP requests to Blogger API
aiohttp
